.leaderboard-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .username-hover {
    top: -2.2rem;
    font-size: clamp(0.8rem, 1vw, 1rem);
  }

  .podium {
    width: 25%;
    max-width: 80px;
  }
}

.title-container {
  font-size: min(3rem, 20vw);
  color: #d1a5fd;
  font-weight: bold;
}

@media (max-width: 768px) {
  .leaderboard-table-container {
    font-size: 1rem;
  }

  .table-header {
    font-size: clamp(0.7rem, 0.9vw, 1rem);
    padding: 8px;
  }

  .table-cell {
    font-size: clamp(0.7rem, 0.9vw, 1rem);
    padding: 6px;
  }
}

.social-container {
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
}
.content-container {
  flex: 1;
  overflow-y: auto;
  padding-bottom: min(7rem, 10vw);
}
